@{
    ViewBag.Title = "Aimy's Movies";
}

<div id="grid"></div>
<script>
    $(document).ready(function() {
        $("#grid").kendoGrid({
            height: 480,
            columns: [
                { field: "", template: "<input type='checkbox' class='checkbox' value='#= Id #' />", width: 60 },
                { field: "Name" },
                { field: "Genre" },
                { field: "Price" },
                { command: ["edit", "destroy"], width: 180 }
            ],
            toolbar: [
                "create",
                { name: "SAVE MY SELECTION", attr: " id='addToCart'" },
                { template: "<a role='button' class='k-button k-button-icontext k-grid-CHECKOUT' href='/Checkout'>CHECK OUT</a>" }
            ],
            dataSource: {
                type: "aspnetmvc-ajax",
                transport: {
                    read: {
                        url: "Movies/Movies_Read"
                    },
                    create: {
                        url: "Movies/Movies_Create"
                    },
                    update: {
                        url: "Movies/Movies_Update"
                    },
                    destroy: {
                        url: "Movies/Movies_Destroy"
                    }
                },
                schema: {
                    data: "Data",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { type: "number" },
                            Name: { type: "string" },
                            Genre: { type: "string" },
                            Price: { type: "number" }
                        }
                    },
                    total: function(response) {
                        return response.Total;
                    }
                },
                serverPaging: true,
                serverSorting: true,
                pageSize: 5
            },
            dataBound: function(e) {
                var view = this.dataSource.view();
                for (var i = 0; i < view.length; i++) {
                    if (checkedIds[view[i].id]) {
                        this.tbody.find("tr[data-uid='" + view[i].uid + "']")
                            .addClass("k-state-selected")
                            .find(".checkbox")
                            .attr("checked", "checked");
                    }
                }
            },
            editable: "inline",
            pageable: {
                input: true,
                numeric: false
            },
            navigatable: true,
            sortable: {
                mode: "single"
            },
            filterable: true,
            scrollable: true
        });

        $("#grid").on("change", "input:checkbox", function (e) {
            var checkbox = e.currentTarget;
            var row = $(checkbox).closest("tr");
            checkedIds[checkbox.value] = checkbox.checked;

            //var grid = $("#grid").data("kendoGrid");
            //var movie = grid.dataItem(row);
            //checkedIds[movie.Id] = checkbox.checked;

            // toggle selected state of the parent table row
            row.toggleClass("k-state-selected", checkbox.checked);
        });

        $("#addToCart").on("click", function (event) {
            event.preventDefault();
            var selected = [];
            for (var i in checkedIds) {
                if (checkedIds[i]) {
                    selected.push(i);
                }
            }

            if (selected.length === 0) {
                $.confirm({
                    title: "No movies were selected!",
                    content: "Please select at least one movie.",
                    buttons: {
                        Ok: function () { }
                    }
                });
            } else {
                $.get("/Movies/Cart",
                {
                    movieIds: JSON.stringify(selected)
                }, function () {
                    $.confirm({
                        title: "Successfully added to your cart!",
                        content: "Do you want to checkout now?",
                        buttons: {
                            Yes: function () {
                                window.location.replace("/Checkout/Index");
                            },
                            No: function () { }
                        }
                    });
                });
            }
        });
    });

    var checkedIds = {};
</script>
